header {
  display: grid;
  grid-template-columns: repeat(20, auto);
  grid-template-rows: 60px;
  grid-gap: 5px;
}

@for $i from 1 through 20 {

  @for $j from 2 through 21 {

    .col_#{$i}-#{$j} {
      grid-column: #{$i} / #{$j};
      grid-row: 1/2;
      height: 100%;
      width: 100%;
    }

  }
}